<div *ngFor="let product of products">


    <h3>
        <a [title]="product?.name + ' details'"
           [routerLink]="['/products', product?.id]">
            {{ product?.name }}
        </a>
    </h3>
    <h3 style="color: #ff231e" *ngIf="localStorage.getItem(product.id.toString())">
        Comprado
    </h3>
    <p *ngIf="product?.description">
        Description: {{ product?.description }}
    </p>


    <button type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>
